.section-2{
    min-height:100vh;
    background-image: linear-gradient(to right bottom,
    rgba(244, 234, 208, 0.356),
    ),  url(../media/pillar.jpg);  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
//     @include laptop{
//         height:100vh;
// }
}


.container-beach{
    display:flex;
    flex-direction:column;
    line-height: 2rem;
    font-size: 2rem;
    color: black;
    height: 100vh; 
    // min-height:100vh;
    justify-content: space-around;
    align-items:center;
    text-align:center;
    @include laptop{
        flex-direction:row;
        // min-height:100vh;
        line-height: 3rem;
        justify-content:center;
        align-items:center;
    }
    @include tablet{
        // margin-top:10rem;
    }
}

.info-1{
    background-color: red;
    height:100%;
    text-align:center;
    @include laptop{
        width:50%;
    }
}

.info-2{
    background-color:green;
    height:100%;
    width:100%;
    text-align:center;
    @include laptop{
        width:50%;
    }
}
.about{
    width: 20rem;
    font-size: 4rem;
    color: black;
    text-align: center;
    border:2px solid black; 
    border-radius: 10% / 50%;
    // text-shadow: 3px 3px rgb(255, 255, 255);
    margin:auto; 
    // margin-top: 4rem;
    // margin-bottom: 4rem;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5rem;
    transition: all 0.2s;
    @include laptop{
        font-size:6rem;
        // margin-top: 8rem;
        // margin-bottom: 8rem;
    }
}

.place-holder-2{
    height:4rem;
}


