
.section-2{
    // min-height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
 }

.parent{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include laptop{
        flex-direction:row;
        // height:100vh;
    }
}
.container-1{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap-reverse;
    justify-content:space-around;
    align-items:center;
    border-radius: 20px 20px 0px 0px;
    // min-height:50%;
    // height:50%;
    // width:100%;
    background-color:sandybrown;
    // clip-path: polygon(83% 0, 93% 0, 100% 0, 100% 100%, 16% 100%, 9% 88%, 0 100%, 0 66%, 0 45%, 0 0);
    @include laptop{
        border-radius: 20px 0px 0px 20px;
        // width:50%;
        // height:100vh;  
    }
}
.container-2{
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    border-radius:0px 0px 20px 20px;
    
    // min-height:50%;
    // height:50%;
    // width:100%;
    background-color:rgb(240, 196, 158);
    // clip-path: polygon(8% 12%, 16% 0, 100% 0, 100% 100%, 92% 89%, 83% 100%, 0 100%, 0 66%, 0 45%, 0 0);
    @include laptop{
        border-radius: 0px 20px 20px 0px;
        // width:50%;
        // height:100vh;
    }

}

.place-holder-4{
    flex-grow:1;
    width:100%;
    //width:auto;
    height:3vh;   
}
// .image-container{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index:1;
    
//     // overflow:hidden;
//     // display: inline-block;
//     // height:30vh;
//     // @include laptop{
//     //     height:50vh;
//     // }
// }

.image{
    display:flex;
    transition: all 1s;
    z-index:1;
    flex-grow:1;
    //width:auto;
    //width:100%;
    // padding-left:1rem;
    // padding-right:1rem;
     padding:2rem;
    // padding-bottom: .5rem;
    // height:auto;
    // width:65%;
    // width:auto;
    align-items: center;
    justify-content: center;
    //  @include tablet{
    //     // height:auto;
    // }
    @include laptop{
        // width:auto;
        padding:3rem;
    }
}

.image-child{
    transform-style: preserve-3d;
    max-width:100%;
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.beach-title{
    display:flex;
    flex-direction:row;
    font-size:3rem;
    font-family:$font-2;
       @include laptop{
        font-size:5rem;
    }
    .color-title{
        background-color:sandybrown;
        border-radius: 20px 0px 0px 20px;
        // padding-left: 5.5rem;
        padding-left: 3.1rem;
    }
    .color-title-2{
        border-radius: 0px 20px 20px 0px;
        background-color:sandybrown;
        margin-right:.7rem;
        padding-right: 4rem;
        @include laptop{
            background-color:rgb(240, 196, 158);
        }
    }
    .width{
        width:1rem;
        background-color:sandybrown;
        @include laptop{
            background-color:rgb(240, 196, 158);
        }
        
    }

}




// .icon-container{
//     // display:flex;
//     // flex-direction:row;
//     // justify-content:center;
//     // align-items: center;
//     // height:1vh;
//     // @include laptop{
//     //     // width:10vw;
//     // }
// }


.material-icons.icon{
    font-size:30px;
    padding:1.5rem;
    height:1vh;
    @include tablet{
        padding: 2rem;
    }
    @include laptop{
        padding:3rem;
        font-size:48px;
    }
}

.material-icons.icon-1{
    font-size:35px;
}


.material-icons.icon:hover{
    color:blue;
}




.material-icons.icon-effect-down:hover ~ .overlay-down{
    opacity:1;
    transition: ease-in 1.5s;
}
.material-icons.icon-effect-down:hover ~ .image{
    filter: grayscale(100);
    opacity:0.5;
    transform: rotateY(180deg);
    perspective:1000px;
    -moz-perspective: 1000px; 
    z-index:0;
    
}
// .image:nth-child(4) {
//     width: 100%;
//     flex-grow: 1;
//   }
//   .overlay-down:nth-child(5) {
//     width: 100%;
//     flex-grow: 1;
//   }
.overlay-down{
    padding:1rem;
   position:absolute;
   background-color: silver;
   color:black;
   font-size:1.5rem;
   width:70%;
   text-align:center;
   flex-grow:1;
   opacity: 0;
   border-radius: 20px;
   font-family:$font-2;
   @include laptop{
       font-size:3rem;
       width:30%;
   }
}

.overlay-up{
    padding:1rem;
    opacity:0;
  text-align:center;
    width:70%;
   //flex-grow:1;
    position:absolute;
    font-size:1.5rem;
   background-color: silver;
   color:black;
   border-radius: 20px;
    font-family:$font-2;
   letter-spacing:1px;
   @include laptop{
       font-size:3rem;
       width:30%;
      // width:30%;
   }
   // width:auto;
}
.material-icons.icon-effect-up:hover ~ .image{
    transform: rotateY(180deg);
    z-index:0;
   perspective:1000px;
   -moz-perspective: 1000px; 
   opacity:0.7;
   
   

  }
  .material-icons.icon-effect-up:hover ~ .overlay-up{
    opacity:1;
    z-index: 1;
    transition: ease-in 1.5s;
  }


//   .img-hover-zoom {
//  /* [1.1] Set it as per your need */
//     overflow: hidden; /* [1.2] Hide the overflowing of child elements */
//   }
  
//   /* [2] Transition property for smooth transformation of images */
//   .img-hover-zoom img {
//     transition: transform .5s ease;
//   }
  
//   /* [3] Finally, transforming the image when container gets hovered */
//   .img-hover-zoom:hover img {
//     transform: scale(1.5);
//   }


// .image-replace{
//     opacity:0;
//     color:white;
//     text-align:center;
//     // padding:2rem;
//     margin-top:5rem;
//     line-height: 3rem;
//     // background-color: red;
//     position:absolute;
//     // height:auto;
//     // max-width:100%;
//     border-radius:20px;
//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

// }
// .col-t1:hover > .city-child {
//     opacity: 0.3;  
//   }
// .col-t1:hover > .word{
//       opacity: 1;
//       display:inline-block;
// }

//     .card{
//         perspective:150rem;
//         -moz-perspective: 150rem;
//         position:relative;
//         margin-top:50px;
//         margin-left:auto;
//         margin-right:auto;
//     }

//     .card-side{
//         // height:500px;
//         // width:300px;
//         // font-size:15px;
//         // color:white;
//         backface-visibility:hidden;
//         box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
//     }

//     .card-side-front{
//         // background-color:red;
//         position:absolute;
//         top:0;
//         left:0;
//         z-index:1;
//         transition:all 1s;
//     }
//     .card-side-back{
//         // background-color:blue;
//         position:absolute;
//         top:0;
//         left:0;
//         z-index:0;
//         transform: rotateY(-180deg);
//         transition:all 1s;
//     }

//     .card:hover .card-side-front{
//         transform:rotateY(-180deg);
//     }
//     .card:hover .card-side-back{
//         transform:rotateY(0deg);
//     }

// .material-icons.icon-effect-1:hover .card-side-back{
//     transform:rotateY(0deg);
// }

// .material-icons.icon-effect-1:hover .card-side-front{
//     transform:rotateY(-180deg);
// }




// .image:hover{
//     transform: rotate(180deg);
// }


// .image:hover ~ .material-icons.icon {
//     transform:rotate(180deg);
// }



// .container-beach{
//     display:flex;
//     flex-direction:column;
//     line-height: 2rem;
//     font-size: 2rem;
//     color: black;
//     height: 125vh; 
//     // min-height:100vh;
//     justify-content:center;
//     align-items:center;
//     padding:2rem;
//     @include laptop{
//         height:100vh;
//         flex-direction:row;
//         // min-height:100vh;
//         line-height: 3rem;
//         justify-content:center;
//         align-items:center;
//     }
//     @include tablet{
//         height:100vh;// margin-top:10rem;
//     }
// }

// .info-1{
//     display:flex;
//     // min-height:30%;
//     margin:2rem;
//     width:100%;
//     align-items:center;
//     text-align:center;
//     border:2px solid black; 
//     border-radius: 20px;
//     transition:all 1.0s;
//     // padding:3rem;
//     @include laptop{
//         width:30%;
//         padding:2rem;
//         // height:80%;
//     }
// }
// .info-1:hover{
//     transform: scale(1.3);
//     transform:translateY(-50px);
// }


// .info-2{
//     display:flex;
//     flex-direction:column;
//     align-items:center;
//     justify-content:center;
//     // border:2px solid black; 
//     border-radius: 20px;
//     text-align:center;
//     height:80vh; //80%
//     width:100%;
//     margin:2rem;
    
//     // padding:3rem;
//     @include laptop{
//         width:70%;
//         height:80%;
//         border:2px solid black;
//     }
// }

// .image-container{
//     display:flex;
//     flex-direction:column;
//     height:50%;
//     justify-content:space-evenly;
//     align-items:center;
//     @include tablet{
//         flex-direction:column;
//     }
//     @include laptop{
//         flex-direction:row;
//         height:50%;
//         width:100%;
//     }
    
    
// }

// .image-container-2{
//     display:flex;
//     flex-direction:column;
//     height:50%;
//     justify-content:space-evenly;
//     align-items:center;
//     @include tablet{
//         flex-direction:column;
//     }
//     @include laptop{
//         flex-direction:row;
//         height:50%;
//         width:100%;
//     }
   

// }

// .image{
//     height:45%;
//     border-radius:20px;
//     padding:.5rem;
//     @include tablet{
//         height:40%;
//     }
//     @include laptop{
//         height:70%; //edit height in photoshop   
//     }
   
// }

// .about{
//     width: 20rem;
//     font-size: 4rem;
//     color: black;
//     text-align: center;
//     border:2px solid black; 
//     border-radius: 10% / 50%;
//     // text-shadow: 3px 3px rgb(255, 255, 255);
//     margin:auto; 
//     // margin-top: 4rem;
//     // margin-bottom: 4rem;
//     font-family: 'Anton', sans-serif;
//     text-transform: uppercase;
//     letter-spacing: .5rem;
//     transition: all 0.2s;
//     @include laptop{
//         font-size:6rem;
//         // margin-top: 8rem;
//         // margin-bottom: 8rem;
//     }
// }

// .place-holder-2{
//     height:4rem;
// }

// .card{
//     perspective:150rem;
//     -moz-perspective: 150rem;
//     position:relative;
//     margin-top:50px;
//     margin-left:auto;
//     margin-right:auto;
// }

// .card-side{
//     height:500px;
//     width:300px;
//     font-size:15px;
//     color:white;
//     backface-visibility:hidden;
//     box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
// }

// .card-side-front{
//     background-color:red;
//     position:absolute;
//     top:0;
//     left:0;
//     z-index:1;
//     transition:all 1s;
// }
// .card-side-back{
//     background-color:blue;
//     position:absolute;
//     top:0;
//     left:0;
//     z-index:0;
//     transform: rotateY(-180deg);
//     transition:all 1s;
// }

// .card:hover .card-side-back{
//     transform:rotateY(0deg);
// }

// .section-3{
//     height:100vh;
// }