.section-1{
  min-height:100vh;
}
.place-holder{
    height:1vh;
}
.city-title{
    width: 20rem;
    font-size: 4rem;
    color: black;
    text-align: center;
    border:2px solid black; 
    border-radius: 10% / 50%;
    // text-shadow: 3px 3px rgb(255, 255, 255);
    margin:auto; 
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5rem;
    transition: all 0.2s;
    @include laptop{
        font-size:6rem;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
}

.popup1{
    text-decoration: none;
    color:black;
}
.city-title:hover{
    background-color: rgba(168, 168, 168, 0.658);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
  }
.overlay:target {
    visibility: visible;
    opacity: 1;
  }

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    font-size: 2rem;
 
  }
  
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: $font-2;
    font-size:3rem;
  }
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
.popup .close:hover {
    color: red;
  }
.popup .content {
    // max-height: 30%;
    overflow: auto;
  }

.main-content{
    display:flex;
    flex-direction:column;
    @include laptop{
        flex-direction:row; 
    }
}

[class*="col-"] {
    display:flex;   
    padding: 2rem; 
    align-items: center;
    justify-content: center;
    z-index:1;
    // @include laptop{
    //     height: 60vh; 
    //  }
}

.city-child{
    max-width: 100%; 
    transition: all 0.3s;
    border-radius: 20px;
    // position: absolute;
}

.word{
    position: absolute;
    color:black; 
    font-size: 2rem;
    opacity: 0;
    display:none;
    border-radius: 20px;
    padding: 2vh; 
    text-align:center; 
    width: 70%;
    @include laptop{
        font-size:3rem;
        width:30%
    }
    @include tablet{
        font-size:3rem;
        width:30%;
    }
}

.word-title{
    font-weight:bold;
}

.word-2{
    font-size:2rem;
    @include laptop{
        font-size:2rem;
    }
    @include tablet{
        font-size:2rem;
    }
}


.col-t1:hover > .city-child {
    opacity: 0.3;  
  }
.col-t1:hover > .word{
      opacity: 1;
      display:inline-block;
}

