.city-title{
    font-size: 6rem;
    color: black;
    text-align: center;
    // text-shadow: 3px 3px rgb(255, 255, 255);
    margin:auto; 
    margin-top: 8rem;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-decoration:underline overline; 
    letter-spacing: .5rem;
    transition: all 1.0s;
}

[class*="col-"] {
     display:flex; 
     float: left;  
     padding: 2rem; 
     width: 90%;  
     align-items: center;
     justify-content: center;
    @include laptop{
        height: 80vh; 
     }
}

.city-child{
    max-width: 100%; 
    // transition: all 1.0s;
  }

.words{
    position: absolute;
    color:black; 
    font-size: 3rem;
    opacity: 0;
}

    

.city-child:hover {
    opacity: 0.3; 
    // @include tablet{
    // .city-child:active{
    //     opacity: 0.3;
    // }
  //  transform: rotateY(180deg);
  }
.city-child:hover +.words{
       opacity: 1;
    //    @include tablet{
    //     .city-child:active +.words{
    //         opacity:1;
    //     }
    //    }
}
