.section-5{
    //  height: 100vh;
    background-image: url(../media/hegazy.jpg);
    position: relative; 
    min-height: 100vh;
    background-position: top;
    margin:none;
    background-size: cover;
   // clip-path: polygon(25% 0, 39% 0, 0 52%, 0 34%);
    //  background-color: blue;
}
.closing-container{
    display: block;
    //flex-direction: column;
   //     align-items: center;
 //   justify-content: space-evenly;
     text-align: center;
    min-height:100vh;
    @include laptop{
       flex-direction:row; 
       height:100vh;
    }
}
.close-cont{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}

.iframe-container{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:2rem;
}

.iframe-width{
    max-width:100%;
    border-radius: 20px;
    width:560px;
    height:320px;
}

.info-container{
  
  display:flex;
  align-items:center;
  justify-content:center;
  padding : 2 rem;  

  
  
 

    flex-direction: column;
   // width:100%;
   // margin:auto;
    @include laptop{
        width:100%;
    }
}

.info{
    background-color:rgba(128, 128, 128, 0.514);
    position:relative;
    display:block;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    max-width:100%;
  // width:30%;
    
}

.button-style{
    display:inline-block;
   // border:2px solid black;
    color:white;
    padding:1rem;
    font-size:2rem;
    
    text-align:center;
    margin:1rem;
  //  background-color:rgba(128, 128, 128, 0.514);
    font-family:$font-2;
    @include tablet{
        font-size:3rem; 
    }
    @include laptop{
        font-size:3rem;    
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
   // min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.material-icons.icon-arrow{
    font-size:3rem;
    margin:1rem;
   color:white;
   transition: ease 0.5s;
}
.material-icons.icon-arrow:hover{
    color:blue;
    transform:translate(0,-5px);
    //top: -10px;
}


.info:hover  .arrow-click-2{
    // opacity:1;
    // z-index:3;
    display:block;
   // overflow: auto;
}
.temp:target  .arrow-click-2{
    // opacity:1;
    // z-index:3;
    display:block;
  // overflow: auto;
}




.arrow-click-2{
    display: none;
    font-size: 3rem;
    color:white;
    background-color:red;
    //visibility: hidden;
}

.temp{
    background-color: black;
    height:20px;
    width:20px;
}

#reference:target{
    display:block;
}



.drop-item {
    font-family: $font-2;
    position: relative;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    font-size: 2rem;
    color: white;
    
    .drop-toggle {
      display: block;
      width: 100%; 
      padding: 20px;
      border: 0 solid #3F5B62;
      border-width: 0 0 1px 1px;
      outline: none !important;
      background: grey;//color of button
      text-align: center;
      transition: background 500ms;
      font-family: $font-2;
      font-size:3rem;
  
      &:hover {
        background: rgb(97, 97, 97);
      }
      // Toggle dropdown - use :hover or :focus
      &:focus {
        background: rgb(97, 97, 97);//color of button when you click
        & + .round {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    
    &:first-child .drop-toggle {
      border-left-width: 0;
    }
  
    .round {
      position: absolute;
      top: 100%;
      left: 0;
      right: -1px;
      margin: -1px 0 0 0;
      padding: 10px;
      background: hsl(200, 8%, 22%);
      border: 1px solid #3F5B62;
      border-radius: 0 0 5px 5px;
      list-style: none;
      // Transition
      visibility: hidden;
      opacity: 0;
      transition-property: opacity, visibility;
      transition-duration: 500ms;
    }
  }


  .open{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}