
.section-2{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
 }

.parent{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include laptop{
        flex-direction:row;
        // height:100vh;
    }
}
.container-1{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap-reverse;
    justify-content:space-around;
    align-items:center;
    border-radius: 20px 20px 0px 0px;
    background-color:sandybrown;
    @include laptop{
        border-radius: 20px 0px 0px 20px;
    }
}
.container-2{
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    background-color:rgb(240, 196, 158);
    @include laptop{
        border-radius: 0px 20px 20px 0px;

    }

}

.place-holder-4{
    flex-grow:1;
    width:100%;
    height:3vh;   
}

.image{
    display:flex;
    transition: all 1s;
    z-index:1;
    flex-grow:1;
    padding:2rem;
    align-items: center;
    justify-content: center;
    @include laptop{
        padding:3rem;
    }
}

.image-child{
    transform-style: preserve-3d;
   max-width:100%;
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.beach-title{
    display:flex;
    flex-direction:row;
    font-size:3rem;
    font-family:$font-2;
       @include laptop{
        font-size:5rem;
    }
    .color-title{
        background-color:sandybrown;
        border-radius: 20px 0px 0px 20px;
        // padding-left: 5.5rem;
        padding-left: 3.1rem;
    }
    .color-title-2{
        border-radius: 0px 20px 20px 0px;
        background-color:sandybrown;
        margin-right:.7rem;
        padding-right: 4rem;
        @include laptop{
            background-color:rgb(240, 196, 158);
        }
    }
    .width{
        width:1rem;
        background-color:sandybrown;
        @include laptop{
            background-color:rgb(240, 196, 158);
        }
        
    }
}
.material-icons.icon{
    font-size:30px;
    padding:1.5rem;
    height:1vh;
    @include tablet{
        padding: 2rem;
    }
    @include laptop{
        padding:3rem;
        font-size:48px;
    }
}

.material-icons.icon-1{
    font-size:35px;
}

.material-icons.icon:hover{
    color:blue;
}




.material-icons.icon-effect-down:hover ~ .overlay-down{
    opacity:1;
    transition: ease-in 1.5s;
}
.material-icons.icon-effect-down:hover ~ .image{
    filter: grayscale(100);
    opacity:0.5;
    transform: rotateY(180deg);
    perspective:1000px;
    -moz-perspective: 1000px; 
    z-index:0;
    
}
.overlay-down{
    padding:1rem;
   position:absolute;
   background-color: silver;
   color:black;
   font-size:1.5rem;
   width:70%;
   text-align:center;
   flex-grow:1;
   opacity: 0;
   border-radius: 20px;
   font-family:$font-2;
   @include laptop{
       font-size:2rem;
       width:30%;
   }
}

.overlay-up{
    padding:1rem;
    opacity:0;
  text-align:center;
    width:70%;
   //flex-grow:1;
    position:absolute;
    font-size:1.5rem;
   background-color: silver;
   color:black;
   border-radius: 20px;
    font-family:$font-2;
   letter-spacing:1px;

   @include laptop{
       font-size:2rem;
       width:30%;
   }
}
.material-icons.icon-effect-up:hover ~ .image{
    transform: rotateY(180deg);
    z-index:0;
   perspective:1000px;
   -moz-perspective: 1000px; 
   opacity:0.7;


  }
  .material-icons.icon-effect-up:hover ~ .overlay-up{
    opacity:1;
    z-index: 1;
    transition: ease-in 1.5s;
  }




