
.food-container{
    display:flex;
    flex-direction:column;
    width:100%;
    @include laptop{
        width:50%;
    }
}

.food-title{
    //width:8rem;
    margin:auto;
    letter-spacing: .5rem;
    font-size:4rem;
    color:black;
    font-family:$font-2;
    text-transform:uppercase;
    border:2px solid black;
    border-radius: 10% / 50%;
    padding:1rem;
    margin-bottom:4rem;
    margin-top:4rem;
   @include tablet{
       margin-top:4rem;
       font-size: 4rem ;
   }
    @include laptop{
       font-size:6rem;
       //margin-top: 8rem;
   }
}

 .food-paragraph{
    max-width:100%;
    margin: auto;
    border:2px solid black;
    color:black;
    line-height: 30px;
    //font-family:$font-2;
    font-size:1.5rem;
    padding: 2rem;
    border-radius: 20px;
    margin:2rem;
    //width:100%;
    @include tablet{
       //margin-top:4rem;
    }
    @include laptop{
         font-size:2rem;
    }
}
.food-paragraph-span{
    font-style: italic;
    font-weight: bold;
}
 .flex-slide-container{
     display: flex;
     flex-direction:column;
     align-items: center;
     justify-content: space-evenly;
     text-align: center;
     @include laptop{
        flex-direction:row; 
        height:100vh;
     }
 }
.slide-container{
  padding-top: 4rem;
  border-radius: 20px;
   position: relative;
    margin:3rem;
   @include laptop{
    padding-top: 8rem;
   }
}

.image-container{
  justify-content: center;
  align-items: center;
  display: flex;
  transition: ease-in 1.5s;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px; 
  //margin:3rem; 
}

 .slider-image1  {
   // position: absolute;
    max-width: 100%;
    border-radius: 20px;
    z-index: 1;
    border: 10px solid black;
 }
 .slider-image4, .slider-image3 , .slider-image2 {
   position: absolute;
   max-width: 100%;
   border-radius: 20px;
   opacity: 0;
   z-index: 1;
   border: 10px solid black;
}

.button-container{
   position:relative; 
}

.slider-button{
    //position: relative;
    display:inline-block;
    height:25px;
    width:25px;
    border-radius:20px;
    background-color:black;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    @include laptop{
        height:35px;
        width:35px;
        margin: 25px;
    }
}

.slider-button:hover{
    background-color:blue;   
}

#slider-image-1:target {
  // opacity: 1;
    z-index: 2;
}

 #slider-image-2:target {
    opacity: 1;
    z-index: 2;
}

 #slider-image-3:target {
    opacity: 1;
    z-index:2;
}

#slider-image-4:target {
    opacity: 1;
    z-index: 2;
    //background-color: blue;
}
.margin{
    margin:3rem;
}

