
.nav-button {
    background-color:white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem;
    transition:all 0.5s;
}

#menuToggle{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1000;
  -webkit-user-select: none;
  user-select: none;
  height:100%;
}

#menuToggle a{
text-align:center;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  float: left;
  padding:1rem;
  transition: 0.3s ease;
  background: $primary;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  width:10rem;
 margin:.6rem;
  background: linear-gradient(to right,  beige 50%, #333 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

#menuToggle a:hover{
  color: white;
  background-color:beige;
  animation: bounce 1s;
  background-color: #ffffff;
  color: black;
  background-position: left bottom;

}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  opacity: 0; 
  z-index: 2000; 
  cursor:pointer;
}


#menuToggle span{
  display: block;
  width: 50px;
  height: 5px;
  margin-bottom: 9px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1000;
  transform-origin: 4px 0px;
  cursor:pointer;
  transition:.5s ease-in-out;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
  
}



#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}


#menu{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  position: absolute;
  width: 10rem;
  height:100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  //padding-top: 27rem;
  color:white;
  background-color: #333;
   opacity:0.7;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  visibility: hidden;
  transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#menu li{
  padding: 10px 0;
  font-size: 2.5rem;
  font-family:$font-2;
  letter-spacing:1px;
  text-align: center;
  
}



#menuToggle input:checked ~ ul{
    transform: none;
    visibility: visible;
}




.navigation_button{
	background-color: white;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	position: fixed;
	top: 6rem;
	right: 12rem;
	z-index: 2000;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
	text-align: center;
	cursor: pointer;
}

.menu{
  display: inline-block;
  position: absolute;
  width: 5.85rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6.2rem;
  font-family: 'Cinzel', serif;
  color: #fff;
  cursor: pointer;
  z-index: 0;
}

