
// .navbar {
//     background-color: #333;
//     position: fixed;
//     top: 0;
//     left: 0;
//     // height: 100%;
//     width: 100%;
//     // padding-top: 25vh;
//     // padding-bottom: 10vh;
//     // padding-left: 2vh;
//     // padding-right: 2vh;
//     // padding-left: 35%; 
//     overflow: auto;
//     opacity: .7;
//     //opacity:1;
//     display: flex; 
//     justify-content: center; 
//     z-index:30;

//   }
// nav a {
//     color: white;
//     opacity: 1;
//     display: flex;
//     text-align: center;
//     align-items:center;
//     justify-content: center; 
//     padding: 14px 16px;
//     text-decoration: none;
//     font-size: 30px; 
//     font-family: 'Bangers', cursive;  
//     float: left;
//     // margin-left: 2vh; 
//     // margin-right: 2vh;
// }

// // nav a:hover{
// //     color:black; 
// //     background-color: beige;
// // }

.nav-button {
    background-color:white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem;
    transition:all 0.5s;
}

#menuToggle{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px; /*1300px*/
  z-index: 1000;
  -webkit-user-select: none;
  user-select: none;
  height:100%;
  //width:20rem;
}

#menuToggle a{

  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  float: left;
  //padding:1rem;
 // border-radius: 10px;
  transition: 0.3s ease;
  background: $primary;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
 // border-top: 4px solid beige;
 // border-bottom: 4px solid beige;
 padding: 10px 0;
  margin: 0 10px;
}
// https://codepen.io/Calloumi/pen/vndlH

#menuToggle a:hover{
  color: white;
 // background-color:beige;
 border-top: 4px solid #ffffff;
 border-bottom: 4px solid #ffffff;
 // padding: 6px 0; 
  animation: bounce 1s;

}
// @keyframes bounce {
// 	0%, 20%, 60%, 100% {
// 		-webkit-transform: translateY(0);
// 		transform: translateY(0);
// 	}

// 	40% {
// 		-webkit-transform: translateY(-20px);
// 		transform: translateY(-20px);
// 	}

// 	80% {
// 		-webkit-transform: translateY(-10px);
// 		transform: translateY(-10px);
// 	}
// }


#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  opacity: 0; 
  z-index: 2000; 
  cursor:pointer;
  // background-color:white;
  //   height: 7rem;
  //   width: 7rem;
  //   border-radius: 50%;
  //background-color:white;
//  border-radius:50%;
//   -webkit-touch-callout: none;
}


#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1000;
  transform-origin: 4px 0px;
  cursor:pointer;
//   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
//               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
//                opacity 0.55s ease;
  transition:.5s ease-in-out;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}


#menu{
  position: absolute;
  width: 10rem;
  height:100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 27rem;
  color:white;
  background-color: #333;
   opacity:0.7;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
//  opacity:0;
  visibility: hidden;
  transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  //width:20rem;
//   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
// transition: .5s ease-in-out;


}

#menu li{
  padding: 10px 0;
  font-size: 2.5rem;
  font-family:$font-2;
  letter-spacing:1px;

  
}


#menuToggle input:checked ~ ul{
    transform: none;
    // opacity: 1;
	// width: 100%;
    visibility: visible;
}




.navigation_button{
	background-color: white;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	position: fixed;
	top: 6rem;
	right: 12rem;
	z-index: 2000;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
	text-align: center;
	cursor: pointer;
}

.menu{
  display: inline-block;
  position: absolute;
  width: 5.85rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6.2rem;
  font-family: 'Cinzel', serif;
  color: #fff;
  cursor: pointer;
  z-index: 0;
}

.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.link-3:hover {
  background-color: #ffffff;
  color: #EEA200;
  padding: 24px 10px;
}


.link-1 {
  transition: 0.3s ease;
  background: #3fa46a;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #3fa46a;
  border-bottom: 4px solid #3fa46a;
  padding: 20px 0;
  margin: 0 20px;
}
.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}
// .menu::before, .menu::after {
//   position: absolute;
//   transition: 0.4s ease;
//   opacity: 0;
//   pointer-events: none;
// }

// .menu:before{
//   content: "M \00a0 \00a0 \00a0 \00a0 \00a0 U";
//   top: -6rem;
//   left: -100%;
//   width: 20.5rem;
// }

// .menu:after {
//   content: "N";
//   top: 5rem;
//   left: 98%;
// }

// .menu:hover::before, .menu:hover::after {
//   top: -0.45rem;
//   opacity: 1;
//   padding-right: 1.5rem;
//   transition: 0.2s ease, opacity 0.17s 0.03s ease-in;
// }

// .bar{
//   width: 80%;
//   height: 0.3rem;
//   background: transparent;
//   margin: 0 auto 1.8rem;
//   transition: transform 0.4s ease;
// }

// .navigation_icon{
// 	position: relative;
// 	margin-top: 3.5rem;
// }

// .navigation_icon::before, .navigation_icon::after{
// 	content:"";
// }

// .navigation_icon::before{
// 	position: absolute;
// 	top: -.8rem;
// 	left: 0;
// }

// .navigation_icon::after{
// 	position: absolute;
// 	top: .8rem;
// 	left: 0;
// }

// .navigation_icon, .navigation_icon:before, .navigation_icon:after{
// 	width: 3rem;
// 	height: 2px;
// 	background-color: #333;
// 	display: inline-block;
// 	transition: all .2s;
// }

// .navigation_button:hover .navigation_icon::before{
// 	top: -1rem;
// }

// .navigation_button:hover .navigation_icon::after{
// 	top: 1rem;
// }

// .navigation_checkbox:checked + .navigation_button .navigation_icon{
// 	background-color: transparent;
// }

// .navigation_checkbox:checked + .navigation_button .navigation_icon::before{
// 	transform: rotate(135deg);
// 	top: 0;
// }

// .navigation_checkbox:checked + .navigation_button .navigation_icon::after{
// 	transform: rotate(-135deg);
// 	top: 0;
// }

// .navigation_list{
// 	position: absolute;
// 	top: 10%;
// 	left: 50%;
// 	transform: translate(-50%, 50%);
// 	list-style: none;
// 	text-align: center;
// 	width: 100%;
// }

// .navigation_item{
// 	margin: 1rem;
// }

// .navigation_nav{
// 	height: 100vh;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	z-index: 1500;
// 	opacity: 0;
// 	width: 0;
// 	transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
// 	visibility: hidden;
// }

// .navigation_background{
// 	height: 6.5rem;
// 	width: 6.5rem;
// 	border-radius: 50%;
// 	position: fixed;
// 	top: 6.5rem;
// 	right: 6.5rem;
// 	background-image: radial-gradient(
// 		rgba(119, 160, 216, 1) ,
// 		rgba(10, 193, 117, 1)) ;
// 	z-index: 1000;
// 	transition: transform .8s;
// 	opacity: 0;
// }

// .navigation_link, .navigation_link:link, .navigation_link:visited{
// 	display: inline-block;
// 	font-size: 3rem;
// 	font-weight: 300;
// 	padding: 1rem 2rem;
// 	color: black;
// 	text-decoration: none;
// 	text-transform: uppercase;
// 	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
// 	background-size: 240%;
// 	transition: all .4s;
// }

// .navigation_link:hover, .navigation_link:active{
// 	background-position: 100%;
// 	color: rgba(41, 152, 255, 1);
// 	transform: translateX(1rem);
// }


// .navigation_checkbox:checked~.navigation_background{
// 	transform: scale(80);
// 	opacity: 1;
// } 

// .navigation .navigation_checkbox:checked~.navigation_nav{
// 	opacity: 1;
// 	width: 100%;
// 	visibility: visible;
// }

