$primary: F4EAD0; 
$font-1: 'Bangers', cursive; 
$font-2:'Anton', sans-serif;


$tablet: 600px;
$desktop: 1100px;
$laptop: 900px; 
//900



@mixin desktop{
    @media(min-width: #{$desktop}) {
      @content;
    }
  }
  
@mixin laptop{
    @media only screen and (min-width: #{$laptop}) {
      //  .col-t1{width: 30%;}
      @content;
    }
  }
  @mixin tablet{
    @media(min-width: #{$tablet}) {
      @content;
    }
  }
  